
.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}
.post-meta {
  font-size: $small-font-size;
  color: $grey-color;

  a.post-tag {
    border-radius: 20px;
    border: 1px solid $grey-color;
    color: $grey-color;
    padding: 1px 5px;
    margin-left: 5px;
    &:hover {
      border: 1px solid $brand-color;
      text-decoration: none;
      color: $brand-color;
    }
  }
}
.post-link {
  display: block;
  @include relative-font-size(1.5);

  &:hover {
    color: $crimson-color-light;
    text-decoration: none;
    cursor: pointer;
  }
}
.post-header {
  margin-bottom: $spacing-unit;
}
.post-title {
  @include relative-font-size(2.2);
  letter-spacing: -1px;
  line-height: 1.2;

  @include media-query($on-laptop) {
    @include relative-font-size(2.2);
  }

  font-weight: $base-font-weight * 1.5;
  width: $content-width * 0.85;
  max-width: 100%;
}
.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(1.7);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }

    font-weight: $base-font-weight * 1.5;
    margin-top: $spacing-unit * 1.55;
  }

  h3 {
    @include relative-font-size(1.3);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
    font-weight: $base-font-weight * 1.35;
    margin-top: $spacing-unit * 1.1;
  }

  h4 {
    @include relative-font-size(1.15);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
    font-weight: $base-font-weight * 2.0;
  }

  a {
    border-bottom: 1px dotted #bbb;
    padding-bottom: 1px;

    &:hover {
      color: $crimson-color-light;
      border-bottom: 1px solid $crimson-color-light;
      padding-bottom: 1px;
      text-decoration: none;
    }
  }

}